.sidebar {
    height: 100vh;
    background-color: #0F141F;
    color: #d1d5db;
    .menu {
        margin-top: 20px;
        li {
            transition: .3s all;
            &:hover{
                background-color: #6a64f180;
                //border: 1px solid rgba(9, 14, 23, 0.663)
                border-radius: 10px;
            }
            .sub-menu{
                background-color: #0c0e13;
                li{
                    padding: 10px 12px;
                    margin: 5px 0 5px 30px;
                }
            }
        }
    }

}
