<div class="sidebar" id="sidebar">
    <div class="flex items-center p-4 border-b border-gray-dark">
        <img src="./assets/images/angular.gif" alt="" class="rounded-full mr-2" width="36px">
        <div class="flex flex-col">
            <span class="text-sm text-gray font-medium tracking-wide">SoftwareCord</span>
            <span class="text-xs text-gray-light font-light tracking-widest">Technology</span>
        </div>
    </div>
    <ul class="menu">
        @for (menu of menuList; track menu.name) {
        <li class="">
            <div class="flex items-center justify-between py-1 cursor-pointer p-2" routerLink="{{menu.route}}" routerLinkActive="active" (click)="menu.isOpen = !menu.isOpen">
                <div class="flex items-center py-2">
                    <img [src]="menu.icon" alt="SVG Image" width="25" class="ml-1">
                    <span class="text-sm font-medium ml-3 tracking-wide">{{menu.name}}</span>
                </div>
                @if (menu.subMenus && menu.subMenus.length) {
                <img [src]="menu.isOpen ? './assets/svg/down-arrow.svg' : './assets/svg/right-arrow.svg'"
                    alt="SVG Image" width="15" class="fill-current text-blue">
                }
            </div>
            @if (menu.subMenus && menu.subMenus.length) {
            <ul class="flex flex-col sub-menu">
                @for (subMenu of menu.subMenus; track $index) {
                @if (menu.isOpen) {
                <div>
                    <li class="flex items-center ml-6 cursor-pointer">
                        <a class="text-sm" routerLink="{{subMenu.route}}" routerLinkActive="active">{{subMenu.name}}</a>
                    </li>
                </div>
                }
                }
            </ul>
            }
        </li>
        } @empty {
        <li> There are no items. </li>
        }
    </ul>

    <div class="flex items-center space-x-2 p-2 absolute bottom-0">
        <img src="./assets/svg/settings.svg" alt="SVG Image" width="25" class="fill-current text-orange">
        <span class="text-sm tracking-wider">Settings</span>
    </div>
</div>