<div class="flex items-center justify-start p-12">
  <div class="w-full max-w-[550px] bg-white">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <app-input
          label="Username"
          name="username"
          [control]="myForm.get('userName')"
          placeholder="{{ 'Username' }}"
          [required]="true"
        ></app-input>
      </div>
      <div class="mb-5">
        <app-input
          label="Email"
          name="email"
          [control]="myForm.get('email')"
          placeholder="{{ 'EMail' }}"
          [required]="true"
        ></app-input>
      </div>
      <div class="mb-5">
        <app-input
          label="Phone"
          name="phone"
          [control]="myForm.get('phone')"
          placeholder="{{ 'Phone' }}"
          [required]="true"
        ></app-input>
      </div>
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <app-input
            type="{{'date'}}"
            label="Date"
            name="date"
            [control]="myForm.get('date')"
            placeholder="{{ 'Date' }}"
            [required]="false"
          ></app-input>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <app-input
            type="{{'time'}}"
            label="Time"
            name="time"
            [control]="myForm.get('time')"
            placeholder="{{ 'Time' }}"
            [required]="false"
          ></app-input>
          </div>
        </div>
      </div>
      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
        >
          Book Appointment
        </button>
      </div>
      <pre class="mt-4">{{ myForm.value | json }}</pre>
    </form>
  </div>
</div>
