<div class="input-field">
  <label
    for="{{ name }}"
    class="mb-3 block text-base font-medium text-[#07074D]"
    >{{ label }}</label
  >
  <input
    [type]="type"
    [id]="name"
    [name]="name"
    [placeholder]="placeholder"
    [formControl]="control"
    [(ngModel)]="value"
    [disabled]="disabled"
    [required]="required"
    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
  />
</div>
